
<div class="share">
    {% if theme_var('social.twitter') %}
        <button data-sharer="twitter"
                data-title="{{ page.header.title }}"
                data-url="{{ page.url(true) }}">
            <i class="fab fa-twitter"></i>
        </button>
    {% endif %}
    {% if theme_var('social.facebook') %}
        <button data-sharer="facebook"
                data-url="{{ page.url(true) }}">
            <i class="fab fa-facebook-f"></i>
        </button>
    {% endif %}
    {% if theme_var('social.linkedin') %}
        <button data-sharer="linkedin"
                data-url="{{ page.url(true) }}">
            <i class="fab fa-linkedin-in"></i>
        </button>
    {% endif %}
    {% if theme_var('social.whatsapp') %}
        <button data-sharer="whatsapp"
                data-title="{{ page.header.title }}"
                data-url="{{ page.url(true) }}">
            <i class="fab fa-whatsapp"></i>
        </button>
    {% endif %}
</div>
