{% extends 'partials/base.html.twig' %}

{% block main %}
    {% set collection = page.collection().published() %}
    {% set bg = page.header.image | first %}
    <section class="section-headerimage" style="background-image: url('{{ page.media[bg.name].url }}')">
        <h1 class="heading">{{ page.header.title }}</h1>
    </section>
    <section class="page section-entrylist">
        <div class="actionbar">
            {% include 'partials/taxonomylist.html.twig' with {base_url: page.url(), taxonomy: 'tag', children_only: true} %}
            <div class="entry-search">
                <input type="text" placeholder="Suche...">
            </div>
        </div>
        <article class="content layout-{{ page.header.layout }}">
            {% for item in collection %}
                {% if item.template()  | slice(0, 5) == 'entry' and item.header.show %}

                    <article class="entry-item">
                        <div class="item-image">
                          {% if item.header.preview.image %}
                              {% set preview_image = item.header.preview.image | first %}
                              {% if  item.template() == 'entry_default' %}
                                  {{ item.media[item.header.preview.image].cropZoom(600,450).html('', item.header.title) }}
                              {% else %}
                                  {{ item.media[preview_image.name].cropZoom(600,450).html('', item.header.title) }}
                              {% endif %}
                          {% else %}
                              <img src="{{ theme_url }}/images/default_image.jpg" alt="{{ item.header.title }}">
                          {% endif %}

                        </div>
                        <div class="item-desc">
                            <h2 class="title">{{ item.header.title }}</h2>
                            <p>{{ item.header.preview.text }}</p>

                            {% if  item.taxonomy.tag %}
                                <div class="tags">
                                  {% for tag in item.taxonomy.tag %}
                                      <a href="{{ page.url() }}/tag{{ config.system.param_sep }}{{ tag }}">
                                        <span class="entry-tag">{{ tag }}</span>
                                      </a>
                                  {% endfor %}
                                </div>
                            {% endif %}

                            <a href="{{ item.url(true) }}" class="link-detail"><i class="fas fa-external-link-alt"></i> {{ "THEME_TRAVELER.FRONTEND.PROJEKTLINK" | t  }}</a>
                        </div>
                        <div class="item-date">
                          <i class="fas fa-calendar-alt"></i> {{ item.date() | date('d. m. Y') }}
                        </div>
                    </article>
                {% endif %}

            {% endfor %}
        </article>
      {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
      {% endif %}
    </section>

{% endblock %}

